#### Chem224 - Jeffrey Rinehart - Fall 2023
## Week 1-1: Introduction to Point Groups  
### Objectives
1. *Understand basic symmetry elements*
2. *Learn point group notation*

### Key Concepts
- **Symmetry element**
- **Point group**

### Key Equations
Eq1

In [1]:
# Elements of interest: Carbon (C), Silicon (Si), and Gold (Au)
elements = ['C', 'Si', 'Au']

# Number of valence electrons for each element
valence_electrons = {'C': 4, 'Si': 4, 'Au': 11}  # Au has 1 electron in 6s and 10 in 5d

# Creating a table to store the ionization energy values for these elements
ionization_energy_table = {}

for el in elements:
    ele = elements(el)
    ionization_energies = []
    for i in range(1, valence_electrons[el] + 1):
        ionization_energies.append(ele.ionenergies.get(i))
    ionization_energy_table[el] = ionization_energies

ionization_energy_table

TypeError: 'list' object is not callable

In [7]:
import pandas as pd

# Sample ionization energy values for valence electrons (in eV)
ionization_energy_data = ionization_energy_table

# Creating a DataFrame for better formatting
df = pd.DataFrame.from_dict(ionization_energy_data, orient='index').transpose()
df.columns.name = 'Ionization Energies (eV)'
df.index.name = 'Valence Electron'
df

Ionization Energies (eV)          C         Si          Au
Valence Electron
0                         11.260296   8.151683    9.225553
1                         24.384500  16.345845   20.203000
2                         47.887780  33.493000   30.000000
3                         64.493580  45.141790   45.000000
4                               NaN        NaN   60.000000
5                               NaN        NaN   74.000000
6                               NaN        NaN   94.000000
7                               NaN        NaN  112.000000
8                               NaN        NaN  130.100000
9                               NaN        NaN  149.000000
10                              NaN        NaN  168.200000